<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Mike Robertson</h1>
    <h2>Web Developer</h2>
    <h4>mjr127@case.edu</h4>
    <h4>281.785.0978</h4>
  </div>
</header>

<div class="container">

  <div masonry id="comment-container">
    <div class="masonry-brick" ng-repeat="comment in comments">
      <div class="well">
        <span><button type="button" class="close" ng-click="deleteComment(comment)" ng-show="isAdmin()">&times;</button></span>
        {{comment.text}}
        <br>
        <br>
        <p class='text-right'>-{{comment.name}}</p>
      </div>
    </div>
  </div>

  <div class="row">
	  <form class="comment-form col-sm-8">
	    <label>Leave your comment here!</label>
	    <p class="form-group">
	      <input type="text" class="comment-input form-control" placeholder="Your name" ng-model="newComment.name" ng-hide="isLoggedIn()">
	      <input type="text" class="comment-input form-control" placeholder="Your comment" ng-model="newComment.text">
	      <button type="submit" class="btn btn-primary comment-button" ng-click="addComment()">Comment</button>
	    </p>
	  </form>
  </div>

</div>

<footer class="footer">
  <div class="container">
      <p>Contact |
        <a href="mailto:mjr127@case.edu">mjr127@case.edu</a> | 
         281.785.0978</p>
  </div>
</footer>
